<main>
  <div class="container" id="landingPage">
    <div class="row">
      <div class="col-6">
        <div class="vertical-align" style="text-align:center">
          <h1 class="landing-h1 open-sans ab-yellow-text">Track auto repairs with AutoBuddy!</h1>
          <h5 class="open-sans">AutoBuddy is the simplest way for consumers and repair shops to keep track of their auto repairs</h5>
          <button class="btn signup-btn" type="submit" [routerLink]="['/signup']">Signup for free!</button>
        </div>
      </div>
    </div>
  </div>


  <div class="about">
    <div class="row">
      <div class="col-md-12">
        <h1>
          Stay updated with AutoBuddy
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset 1">
        <div class="card">
          <img class="card-img-top" alt="wrench" src="../../../assets/images/calendar.png">
          <div class="card-body">
            <p class="clearfix  open-sans font-weight">
                Whether it's a car accident, routine maintenence, or that weird noise you simply can't ignore anymore, sometimes taking your car to the mechanic is unavoidable.
                In the past this has been a huge pain for car owners as well as owners of mechanic garages. 
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset 1">
        <div class="card">
          <img class="card-img-top" alt="wrench" src="../../../assets/images/wrench.png">
          <div class="card-body">
            <p class="clearfix  open-sans font-weight">
                Car owners want their vehicles back as soon as possible and they crave transparency. Mechanics want to focus on doing their job to the best of their abilities and servicing as many vehicles as possible without constant interruption from curious car owners.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset 1">
        <div class="card">
          <img class="card-img-top" alt="wrench" style="transform: scaleX(-1)" src="../../../assets/images/car.jpg">
          <div class="card-body">
            <p class="clearfix  open-sans font-weight">
                Meet <b>AutoBuddy</b>, It's like package tracking for your car repair, and we think you're going to love it!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</main>
