<main>
  <div class="container" id="landingPage">
    <div class="row">
      <div class="col-6">
        <div class="vertical-align" style="text-align:center">
          <h1 class="landing-h1 open-sans ab-yellow-text">Track auto repairs with AutoBuddy!</h1>
          <h5 class="open-sans">AutoBuddy is the simplest way for consumers and repair shops to keep track of their auto repairs</h5>
          <button class="btn signup-btn" type="submit" [routerLink]="['/signup']">Signup for free!</button>
        </div>
      </div>
    </div>
  </div>


  <div class="about">
    <div class="row">
      <div class="col-md-12">
        <h1>
          Stay updated with AutoBuddy
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset 1">
        <div class="card">
          <img class="card-img-top" alt="wrench" src="../../../assets/images/calendar.png">
          <div class="card-body">
            <p class="clearfix  open-sans font-weight">
              Lorem ipsum dolor sit amet, ut vel zril oratio repudiandae, vim no aperiri salutandi. Ne gubergren sententiae moderatius
              vim, graeco aliquid molestiae eu mea. Quo laoreet repudiandae at, nostro nominavi sea ne. No pro munere feugiat
              vulputate, vim at minim accusamus dissentiunt. Ius ne aeterno expetenda voluptatum, ad nam aperiam accusam.
              Nam prompta similique
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset 1">
        <div class="card">
          <img class="card-img-top" alt="wrench" src="../../../assets/images/wrench.png">
          <div class="card-body">
            <p class="clearfix  open-sans font-weight">
              Lorem ipsum dolor sit amet, ut vel zril oratio repudiandae, vim no aperiri salutandi. Ne gubergren sententiae moderatius
              vim, graeco aliquid molestiae eu mea. Quo laoreet repudiandae at, nostro nominavi sea ne. No pro munere feugiat
              vulputate, vim at minim accusamus dissentiunt. Ius ne aeterno expetenda voluptatum, ad nam aperiam accusam.
              Nam prompta similique
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset 1">
        <div class="card">
          <img class="card-img-top" alt="wrench" style="transform: scaleX(-1)" src="../../../assets/images/car.jpg">
          <div class="card-body">
            <p class="clearfix  open-sans font-weight">
              Lorem ipsum dolor sit amet, ut vel zril oratio repudiandae, vim no aperiri salutandi. Ne gubergren sententiae moderatius
              vim, graeco aliquid molestiae eu mea. Quo laoreet repudiandae at, nostro nominavi sea ne. No pro munere feugiat
              vulputate, vim at minim accusamus dissentiunt. Ius ne aeterno expetenda voluptatum, ad nam aperiam accusam.
              Nam prompta similique
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</main>
