.car-card-image {
  margin-top: 5%;
  margin-bottom: 5%;
}

.garage-container {
  background-color: white;
}

.car-card {
  background-color: #E5E5E7;
}

.bg-color {
  background-color: #E5E5E7;
}

.garage-card {
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
  transition: all .2s linear;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.car-card {
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
  transition: all .2s linear;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



.add-car-row {
  margin-bottom: 2%;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 0 20%; /* explanation below */
  margin: 5px;
}

.vh-87 {
  height: 87vh;
}

.of-scroll {
  overflow: scroll;
}